
/* adjusts google map to cointaining box */

        

/* Remove the navbar's default rounded borders and increase the bottom margin */
#map {
    /* height: 700px;
    width: 700px; */
    height: 700px;
    width: 100%;
    margin: 0px;
    padding: 5px;
    /* NEED TO DO: align to center */
}
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}
/* Remove the jumbotron's default bottom margin */

.jumbotron {
    background-image: url(assets/images/chicago1a.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 70%;
    margin-bottom: 0;
  }

  span.b {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
  }

 p.panelTop {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
p.modalTop {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
}

.panel-success>.panel-heading {
    color: #fff;
    background-color: #3c763d;
    border-color: #d6e9c6;
}
.panel-warning>.panel-heading {
    color: #fff;
    background-color: #f1f70c;
    border-color: #d6e9c6;
}

/* The sidebar menu */

.sidebar {
    height: 100%;   
    width: 0;  
    position: fixed;    
    z-index: 1;   
    top: 0;
    left: 0;
    background-color: #111;  
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;    
}
/* The sidebar links */

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* The button used to open the sidebar */

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 20px;
}
#weatherReturn p{
    display: inline;
    padding-left: 80px;
}

#uberEst, #transEst, #walkingEst{
    font-weight: bold;
    font-size: 20px;
}

#weatherReturn{
    font-weight: bold;
    font-size: 15px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}
/* Add a gray background color and some padding to the footer */

footer {
    background-image: url(assets/images/NUBanner1.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-color: #f2f2f2;
    padding: 48px;
}

@media only screen and (max-width: 768px) {
    footer {
        display: none;
    }

    .navbar-nav>li {
        float: left;
        padding-top: 17px;
    }
    inverse .navbar-nav>li>a {
        color:#fff;
    }
}
.navbar-nav>li {
    float: left;
    padding-top: 18px;
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
